body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 10px;
}

#map {
    height: 80vh;
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
}

.leaflet-popup-close-button {
    width: 30px;        /* Größe des Buttons */
    height: 30px;       /* Höhe des Buttons */
    font-size: 20px;    /* Schriftgröße im Button */
}

.leaflet-popup-content img {
    max-width: 100%;
    height: auto;
}
